<main class="border border-[#7C3AED] rounded-xl w-75 h-75">
    <div id="top-content" class="h-[40%] overflow-hidden rounded-t-xl">
        <img src="{{ img() }}" alt="">
    </div>
    <div id="bottom-content" class="flex flex-col p-2 h-[60%] gap-3">
        <h2>{{ title() }}</h2>
        <div id="event-info" class="items-center content-between gap-2">
            <div id="localization" class="flex items-center gap-1 min-w-0">
                <img src="icons/localization.svg" alt="Localization icon" class="shrink-0">
                <span class="text-[12px] truncate">{{ localization() }}</span>
            </div>
            <div id="time" class="flex gap-1">
                <img src="icons/clock.svg" alt="Clock icon">
                <span class="text-[12px]">{{ time() }}</span>
            </div>
        </div>
        <span class="text-[12px] h-12 truncate">{{ description() }}</span>
        <button class="border border-black">Participar</button>
    </div>
</main>
