<main class="border border-[#7C3AED] rounded-xl w-75 h-75">
    <div id="top-content" class="h-[30%]">
        <img src="" alt="">
    </div>
    <div id="bottom-content" class="flex flex-col gap-2 p-2 h-[70%] justify-between">
        <h2>Noite de jogos de tabuleiro</h2>
        <div id="event-info" class="flex justify-between">
            <div id="time" class="flex gap-1">
                <img src="icons/clock.svg" alt="Clock icon">
                <span class="text-[12px]">19:00 - 22:00</span>
            </div>
            <div id="localization" class="flex gap-1">
                <img src="icons/localization.svg" alt="Localization icon">
                <span class="text-[12px]">Biblioteca</span>
            </div>
        </div>
        <span class="text-[12px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae iste voluptatum sed amet voluptatibus.</span>
        <button class="border border-black">Participar</button>
    </div>
</main>
